
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Agregar Agente</title>
</head>
<body>
	<h1>Agregar Agente</h1>
	<form action="/addAgent" method="POST"> 
  		<input type="text" name="host" placeholder="Host" value="">
  		<input type="text" name="comunidad" placeholder="Comunidad" value="">
  		<input type="text" name="version" placeholder="Version SNMP">
  		<input type="text" name="puerto" placeholder="Puerto">
  		<input type="submit" value="Agregar Agente">
	</form>
	
</body>
</html>