<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>SNMP</title>
	<link href="../static/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<!-- Informacion del agente -->
	<h1>Estado de interfaces</h1>
	<br>
	<br>
	<label>Host agente: {{dataAgente[1]}}</label>
	<br>
	<label>Nombre agente: {{dataAgente[5]}}</label>
	<br>

	<!-- Tabla de interfaces -->
	<table>
		<tr>
			<td>Numero</td>
			<td>Nombre</td>
			<td>Estado</td>
			<td>Graficar</td>
		</tr>
		{% for row in dataInterfaz %}
			<tr>
				<td>{{row[1]}}</td>
				<td>{{row[0]}}</td>
				<td>
					{% if row[2] == 1 %}
						UP
					{% elif row[2] == 2 %}
						DOWN
					{% else %}
						TESTING
					{% endif %}
				</td>
				<td>
					<form action="/generarGrafica/{{row[1]}}_{{dataAgente[0]}}" method="POST">
		    			<input type="hidden" name="host" value="{{row[1]}}">
		    			<input type="submit" value="Generar">
		    		</form>
				</td>
			</tr>
		{% endfor %}
	</table>
	<a href = '/'>Menu principal</a>
</body>
</html>