<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>SNMP</title>
	<link href="../static/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<!-- Numero de agentes monitorizados -->
	<h1>Listado de agentes</h1>
	<label># de agentes: {{ numDispositivos }}</label>
	<!-- Tabla que contiene la informacion de los agentes -->
	<table>
		<!-- Encabezados -->
		<tr>
		  <th><strong>Host</strong></th>
		  <th><strong>Version</strong></th>
		  <th><strong>Puerto</strong></th>
		  <th><strong>Comunidad</strong></th>
		  <th><strong>Nombre</strong></th>
		  <th><strong>OS</strong></th>
		  <th><strong>Num. Interfaces</strong></th>
		  <th><strong>Estado</strong></th>
		  <th><strong>Reporte</strong></th>
		  <th><strong>Eliminar</strong></th>
		  <th><strong>Estado de las interfaces</strong></th>
		</tr>

		<!-- Ciclo para obtener datos de los agentes de MYSQL-->

		{% for row in data %}
		    <tr>
		   		<td>{{row[1]}}</td>
		   		<td>{{row[2]}}</td>
		   		<td>{{row[3]}}</td>
		   		<td>{{row[4]}}</td>
		   		<td>{{row[5]}}</td>
		   		<td>{{row[6]}}</td>
		   		<td>{{row[7]}}</td>
		   		{% if row[8] == 0 %}
		   			<td>Activo</td>
		   		{% else %}
		   			<td>Inactivo</td>
		   		{% endif %}
		    	<td>
		    		<form action="/reporte" method="POST">
		    			<input type="hidden" name="host" value="{{row[0]}}">
		    			<input type="submit" value="Ver Reporte">
		    		</form>
		    	</td>		    	
		    	<td>
		    		<form action="/delete/{{row[0]}}" method="POST">
		    			<input type="hidden" name="host" value="{{row[0]}}">
		    			<input type="submit" value="Eliminar">
		    		</form>		    	
		    	</td>
		    	<!-- Boton para ver estado de interfaces -->
		    	{% if row[8] == 0 %}
		    	<td>
		    		<form action="/estadoInterfaces/{{row[0]}}" method="POST">
		    			<input type="hidden" name="host" value="{{row[0]}}">
		    			<input type="submit" value="Ver">
		    		</form>		    	
		    	</td>
		    	{% endif %}
		    </tr>
		{% endfor %}
	</table>

	<!-- Link a la pantalla de agregar -->
	<a href="add">Agregar Agente</a>
</body>
</html>